body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.image-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.main {
    padding: 20px;
    background-color: pink;
    border: 2px solid rgb(12, 226, 241);
}

.header {
    text-align: center;
}

.image-container__c1 {
    width: 200px;
    height: 400px;
    border: 1px solid black;
    flex-basis: 23%;
}

body {
    padding: 20px;
}

.container__line {
    width: 50%;
    border: solid 2px rgb(230, 137, 137);
}
image-container__c1:hover{
    width: 250px;
}